@charset "UTF-8";

/* 共通部分
-------------------------------*/
html {
    font-size: 100%;
}
body {
    
    font-family: 'Playfair Display', serif, "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","PT Sans",sans-serif;
    line-height: 1.7;
    color: #222222;
}
a {
    text-decoration:  none;
}
img {
    max-width: 100%;
}

/* HEADER
------------------------------*/
.logo {
    width: 170px;
    margin-top: auto;
}

.main-nav{
    display: flex; 
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: #0bd;
}
.page-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #222222;
    height: 130px;
}

/*==ナビゲーション全体の設定*/

.main-nav {
    position: relative;
    z-index: 999;
}

/*2階層目以降は横並びにしない*/
.main-nav ul ul{
	display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
.main-nav ul li{
	position: relative;
}

/*ナビゲーションのリンク設定*/
.main-nav ul li a{
	display: block;
	text-decoration: none;
	color: #999;
	padding:20px 35px;
	transition:all .3s;
}

.main-nav ul li li a{
	padding:10px 35px;
}

.main-nav ul li a:hover{
	color:#fff;	
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
.main-nav ul li.has-child::before{
	content:'';
	position: absolute;
	left:15px;
	top:25px;
	width:6px;
	height:6px;
	border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
.main-nav ul ul li.has-child::before{
	content:'';
	position: absolute;
	left:6px;
	top:17px;
	width:6px;
	height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
.main-nav li.has-child ul{
    /*絶対配置で位置を指定*/
	position: absolute;
	left:0;
	top:62px;
	z-index: 4;
    /*形状を指定*/
	background:#28BFE7;
	width:180px;
    /*はじめは非表示*/
	visibility: hidden;
	opacity: 0;
    /*アニメーション設定*/
	transition: all .3s;
}

/*hoverしたら表示*/
.main-nav li.has-child:hover > ul,
.main-nav li.has-child ul li:hover > ul,
.main-nav li.has-child:active > ul,
.main-nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
.main-nav li.has-child ul li a{
	color: #fff;
	border-bottom:solid 1px rgba(255,255,255,0.6);
}

.main-nav li.has-child ul li:last-child a{
	border-bottom:none;
}

.main-nav li.has-child ul li a:hover,
.main-nav li.has-child ul li a:active{
	background:#3577CA;
}

/* home
-------------------------------*/
img.main-pic {
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 90px 20px 70px 10px;
}
.main {
    margin: auto;
    max-width: 940px;
    padding: 10px;
}
/*.honbun {
    text-align: 150px;
    display: inline-block;
    width: 300px;
    margin-left: 20px;
    vertical-align: 430px;
}*/
.honbun h2{
    padding-left: 150px;
    margin: 10px ;
}
.honbun li  {
    margin: 5px;
}
.about {
    margin: 10px 5px;
}
.yomi {
    font-family: "PT Sans";
    margin: 0 0 3px 20px;
    color: #727272;
}

.education {
	list-style: url(img/012.png) inside;   
}
.education h3 {
    margin: 10px 0 5px 0 ;
}
.education li {
    margin: 10px 0 2px 0;
}
.wrapper {
    margin: 0 auto;
    padding: 0 13%;

}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.flex .honbun {
    width: 49%;
  
}


/* 選択画面（３つ）　
---------------------------*/
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    margin-top: 7%;
    margin-bottom: 100px; 
   /* margin: 10% 10% 100px 10%;*/
}
.link {
    width: 100%;
    height: 400px;
    object-position: 100% 150%;
    text-align: center;
}
/* ボタン */
.button {
    font-size: 1,375rem;
    background: #222;
    color: #fff;
    border-radius: 0px;
    padding: 6px 40px;
}
.button:hover {
    background: #0090aa;
}
.link p {
    margin: 10%  auto 20% auto;
}

/* フッター
---------------------------*/
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* research
--------------------------*/
#research .page-header {
    background-image: url(img/research01.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 25vh;
}
#research h1 {
    text-align: center;
    margin: 20px;
}
.r-border {
    display: flex;
    align-items: center;
}
.r-border:before,
.r-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}
.r-border:before {
    margin-right: 1rem;
}
.r-border:after {
    margin-left: 1rem;
}
.research-naiyou {
    margin: 30px 13%;
}
.research-naiyou a {
    color: #024e8b;
}
.research-naiyou a:hover {
    color: rgb(59, 167, 255);
}
.research-naiyou .r-3 {
    color: #000;
}
.r-1 {
    list-style: none;
    margin: 20px 0 3px 0;
}
.r-2 {
    list-style-type: square;
    color: #024e8b;
    list-style-position: inside;
}
.r-3 {
    list-style-type: square;
    color: #024e8b;
    list-style-position: inside;
}

/* job
-------------------------------*/
#job .page-header {
    background-image: url(img/job01.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 25vh;
}
#job h1 {
    text-align: center;
    margin: 20px;
}
#job h2 {
    margin: 20px 0 3px 0;
}
.j-border {
    display: flex;
    align-items: center;
}
.j-border:before,
.j-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}
.j-border:before {
    margin-right: 1rem;
}
.j-border:after {
    margin-left: 1rem;
}
.job-naiyou{
    margin: 30px 13%;
}
.job-naiyou a {
    color: #024e8b;
}
.job-naiyou a:hover {
    color: rgb(59, 167, 255);
}

/* skill
------------------------------*/
#skill .page-header {
    background-image: url(img/skill01.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 25vh;
}
#skill h1 {
    text-align: center;
    margin: 20px;
}
#skill h2 {
    margin: 20px 0 3px 0;
}
.s-border {
    display: flex;
    align-items: center;
}
.s-border:before,
.s-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
}
.s-border:before {
    margin-right: 1rem;
}
.s-border:after {
    margin-left: 1rem;
}
.skill-naiyou{
    margin: 30px 13%;
}